include:
  - project: 'e/os/releases'
    ref: master
    file: '/templates/.gitlab-ci.yml'

update-manifest-r:
  extends: .update-manifest

check-version:
  extends: .check-version

trigger-build-r-dev:
  extends: .trigger-build-dev
  variables:
    DEVICES: "a5y17lte a7y17lte ahannah akari akatsuki alioth apollon aura aurora axolotl bacon barbet bardock bardockpro beckham beryllium beyond0lte beyond1lte beyond2lte beyondx blueline bonito bramble cedric channel cheeseburger chef cheryl chiron coral crosshatch d1 d2s d2x d800 d801 d802 d803 d850 d851 d852 d855 dipper discovery DRG dumpling emerald enchilada ether evert f400 fajita flame flox FP2 FP3 FP4 gauguin gemini ginkgo gta4xl gta4xlwifi gts4lv gts4lvwifi guacamole h830 h850 h910 h918 h990 hannah heart hlte hltechn hltekor hltetmo hotdog hotdogb instantnoodle instantnoodlep jactivelte jasmine_sprout jason jflteatt jfltespr jfltevzw jfltexx jfvelte kane kebab kiev kirin klte klteactivexx klteaio kltechn kltechnduo klteduos kltedv kltekdi kltekor kuntao lake lavender lemonade lemonadep lithium lmi ls990 ls997 m20lte marlin mata mermaid miatoll monet montana nairo nash natrium nio obiwan ocean onclite oneplus3 payton pioneer PL2 platina polaris pro1 racer redfin rhannah river rs988 s3ve3gds s3ve3gjv s3ve3gxx sagit sailfish sake sargo scorpio shamu sirius sunfish surya suzuran taimen tissot troika twolip us996 vayu victara voyager vs985 vs995 walleye wayne whyred X00P X00TD X01AD X01BD x2 x86 xz2c YTX703F YTX703L Z01R z2_plus z3 z3c zippo zl1"

trigger-build-r-stable:
  extends: .trigger-build-stable
  variables:
    DEVICES: "coral emerald flame FP4 redfin x86"
