include:
  - project: 'e/os/releases'
    ref: master
    file: '/templates/.gitlab-ci.yml'

update-manifest-q:
  extends: .update-manifest

check-version:
  extends: .check-version

trigger-build-q-test:
  extends: .trigger-build-test
  variables:
    DEVICES: "FP3 chiron guacamole guacamoleb river star2lte starlte whyred"

trigger-build-q-dev:
  extends: .trigger-build-dev
  variables:
    DEVICES: "FP3 river lake mata enchilada fajita tissot oneplus2 oneplus3 guacamole guacamoleb"

trigger-build-q-stable:
  extends: .trigger-build-stable
  variables:
    DEVICES: "FP3"
