include:
  - project: 'e/os/releases'
    ref: master
    file: '/templates/.gitlab-ci.yml'

update-manifest-q:
  extends: .update-manifest

check-version:
  extends: .check-version

trigger-build-q-test:
  extends: .trigger-build-test
  variables:
    DEVICES: "beryllium chiron crownlte FP2 FP3 GS290 guacamole guacamoleb lavender lithium marlin mata river sailfish scorpio shamu star2lte starlte tissot whyred"

trigger-build-q-dev:
  extends: .trigger-build-dev
  variables:
    DEVICES: "bacon beryllium cheeseburger chiron crownlte dipper discovery dumpling enchilada fajita FP2 FP3 GS290 gemini ginkgo gts4lvwifi guacamole guacamoleb harpia hlte jactivelte jasmine_sprout jason kirin lake lavender lithium lux marlin mata mermaid onclite oneplus2 oneplus3 osprey pioneer river s5neolte sagit sailfish scorpio shamu star2lte starlte taimen tissot twolip voyager wayne whyred z3c"

trigger-build-q-stable:
  extends: .trigger-build-stable
  variables:
    DEVICES: "FP3 GS290"
